<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <header>
      <%- include('../partials/header') %>
    </header>

    <div class="container">
      <div class="row">
        <% let index = 0; %>
        <% data.forEach(review => { %> 
          <%- include("../partials/review", { review: review, index: index }) %> 
          <% index++; %> 
        <% }) %>
      </div>
    </div>

    <footer>
      <%- include('../partials/footer') %>
    </footer>
    <script>
      $(".btn").on("click", function(event) {
        event.preventDefault();

        console.log("clickersss");

        $(this)
        .closest(".col-3")
          .siblings(".collapse")
          .load("reviews/comment/" + $(this).data("review"));
      });
    </script>
  </body>
</html>
