<ul class="list-group mb-2">
  <% if(comments) {comments.forEach((com) => { %>
  <li  class="list-group-item" style="background-color: #96b4ec;">
    <%= com.author %> said "<%= com.body %>"
  </li>
  <% })} %>
</ul>
<form action="/api/comment" method="post">
  <div class="form-group">
    <input class="form-control" type="text" name="body" id="body" placeholder="add a comment!" />
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="author" id="author" placeholder="Name" />
  </div>
  <div class="form-group">
    <input class="form-control" type="hidden" name="review" id="review" value="<%= review %>" />
  </div>
  <button class="btn btn-outline-warning"type="submit">Submit</button>
</form>
