<div class="col-4">
  <div class="card">
    <img src="" alt="" class="card-img-top" />
    <div class="card-body">
      <h3 class="card-title">Yup</h3>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem,
        voluptate minus! Porro incidunt ipsam a nobis corrupti repellat iste ut,
        facere voluptate aliquid beatae praesentium quibusdam quisquam quae quia
        sit!
      </p>
    </div>
  </div>
</div>
